@import "amble/constants/constants.less";
@import "amble/constants/colors.less";
@import "amble/board.less";
@import "amble/error.less";
@import "amble/pieces/board.less";
@import "amble/constants/players.less";
@import "amble/pieces/players.less";

html,
body {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  position: relative;

  max-width: 100%;
  overflow-x: hidden;

  max-height: 100%;
  overflow-y: hidden;
}

#amble {
  background-color: @color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  
  // touch-action: pan-y pinch-zoom;
}