@import url("amble/constants/constants.less");
@import url("amble/constants/colors.less");
@import url("amble/move_count.less");
@import url("amble/controls.less");
@import url("amble/board.less");
@import url("amble/error.less");
@import url("amble/pieces/board.less");
@import url("amble/constants/players.less");
@import url("amble/pieces/players.less");
@import url("noty_extra/styles.less");

html,
body {
  height: 100%;
  margin: 0;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

#amble {
  background-color: @color-primary;
  // background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  
  // touch-action: pan-y pinch-zoom;
}

#board-container, #accessories {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}


#board-container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#accessories {
  justify-content: space-between;
  // align-items: flex-end;
  align-items: flex-start;
}


