{:deps
 {org.clojure/clojure {:mvn/version "1.12.5"}
  org.clojure/clojurescript {:mvn/version "1.12.145"}
  thheller/shadow-cljs {:mvn/version "3.4.11"}
  reagent/reagent {:mvn/version "2.0.1"}
  re-frame/re-frame {:mvn/version "1.4.7"}
  com.github.oliyh/martian {:mvn/version "0.2.3"}
  com.github.oliyh/martian-re-frame {:mvn/version "0.2.3"}
  environ/environ {:mvn/version "1.2.0"}
  day8.re-frame/test {:mvn/version "0.1.7"}}
 :paths ["src" "resources" "test"]
 :clean-targets ^{:protect false} ["target"]}
