^{:watch-dirs ["test" "src"]
  :css-dirs ["resources/public/css"]
  :auto-testing true
  :auto-bundle :webpack
  :open-url false
  :extra-main-files {:cards {:main amble.cards}}}
{:main amble.core
 :devcards true

 :npm-deps {"react" "^19.1.0",
            "react-dom" "^19.1.0",
            "noty" "^3.1.4"
            "animate.css" "^4.1.1"}
 :install-deps true}  



