@color-player-one: #6acac8;
@color-player-two: #6a81ca;
@color-player-three: #ca6ab8;
@color-player-four: #9a6aca;
@color-player-five: #97adc2;
@color-player-six: #ca936a;
@color-player-active: #f1f1f1;