@import url("amble/constants/board.less");

#board {
  width: @board-width;
  height: @board-width;

  @ease: cubic-bezier(0.33, 1, 0.68, 1);
  // cubic-bezier(0.4, 0, 1, 1)
  @ease-time: 0.333s;

  transition: transform @ease-time @ease, cy @ease-time @ease;

}
