@import url("amble/constants/colors.less");

#controls {
  width: 100vw;
  height: auto;
  position: fixed;
  bottom: 0;
  right: 0;

  .control {
    float: right;
    // @control-width: 100vw * 0.333 * 0.333;
    // @control-width: 2rem;
    @control-width: 100vh * 0.1;

    font-size: @control-width;
    color: #666;
    // line-height: @control-width;
    width: @control-width;
    height: @control-width;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon {
    display: inline-block;
  }
}


