@import url("amble/constants/colors.less");

#controls {
  width: 100vw;
  height: auto;
  position: absolute;
  top: 0;

  .control {
    display: inline-block;
    // @control-width: 100vw * 0.333 * 0.333;
    @control-width: 2rem;

    font-size: @control-width;
    color: #666;
    line-height: @control-width;
    border: none;
    background: none;
    cursor: pointer;
  }

  .icon {
    display: inline-block;
  }
}