@import url("amble/constants/colors.less");

#move-count {
  width: 100vw;
  height: auto;
  position: fixed;
  bottom: 0;
  left: 0;

  .move-count-text {
    float: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    @mc-width: 100vh * 0.025;
    font-size: @mc-width;
    font-weight: bold;
    color: #eee;
  }
}

