
@board-width: 140vw;
@board-height-landscape: 120vh;

#board {
  @media (orientation: portrait) {
    min-width: @board-width;
    width: @board-width;
    height: auto;
  }

  @media (orientation: landscape) {
    width: auto;
    height: @board-height-landscape;
    min-height: @board-height-landscape;
  }

  background-color: @color-primary;

  circle {
    &.board-piece {
      fill: @color-secondary;
    }
  }
}
