#app, #root, #content-outlet {
  height: 100%;
}
.settings-pane {
  display: flex;
  height: 100%;
  form {
    align-self: flex-end;
    width: 100vw;
    height: 2/3*100vh;
    
    @media (orientation: landscape) {
      width: 80vw;
    }
  }
  
  .settings-content {
    border: none;
  }

  .settings-footer {
    display: none;
  }
}
