.settings-pane {
  form {
    width: 100vw;
    height: 2/3*100vh;
    
    @media (orientation: landscape) {
      width: 80vw;
    }
  }
  
  .settings-content {
    border: none;
  }

  .settings-footer {
    display: none;
  }
}
