.player-one {
    fill: @color-player-one;
}

.player-two {
    fill: @color-player-two;
}

.player-three {
    fill: @color-player-three;
}

.player-four {
    fill: @color-player-four;
}

.player-five {
    fill: @color-player-five;
}

.player-six {
    fill: @color-player-six;
}

.player {
    transition: fill 2s 500ms;
}

.player.landing {
    fill: green;
}
