.player-one {
    fill: @color-player-one;
}

.player-two {
    fill: @color-player-two;
}

.player-three {
    fill: @color-player-three;
}

.player-four {
    fill: @color-player-four;
}

.player-five {
    fill: @color-player-five;
}

.player-six {
    fill: @color-player-six;
}

@ease: cubic-bezier(0.33, 1, 0.68, 1);
// cubic-bezier(0.4, 0, 1, 1)
@ease-time: 0.333s;

.player.landing {
    transition: cx @ease-time @ease, cy @ease-time @ease;
}


