.player-one {
    fill: @color-player-one;
}

.player-two {
    fill: @color-player-two;
}

.player-three {
    fill: @color-player-three;
}

.player-four {
    fill: @color-player-four;
}

.player-five {
    fill: @color-player-five;
}

.player-six {
    fill: @color-player-six;
}

.active {
    // fill: @color-player-active;
    fill: #ADD8E6;
}