@import "constants.less";
@import "amble_client/app.less";
@import "amble_client/board.less";
@import "amble_client/player_pieces.less";
@import "amble_client/main_menu.less";
@import "amble_client/settings.less";

html,
body {
  overflow-x: hidden;
  margin: 0;
  position: relative;
}