@import "constants.less";
@import "amble_client/app.less";
@import "amble_client/board.less";
@import "amble_client/player_pieces.less";
@import "amble_client/settings.less";

html,
body {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  position: relative;
}

.bm-item-list a {
  display: block;
  border-radius: 8px;
  padding: 8px;
  font-size: larger;
  margin: 8px;
}

.bm-item-list a {
  color: initial;
  text-decoration: none;
}

.bm-item-list a.active {
  background: @color-secondary;
}

.bm-item-list a:hover {
  background: @color-secondary;
}

.bm-menu {
  background: @color-primary-lighter;
  // box-shadow: 0px 0px 8px 0px black inset;
}

#grid-container {
  height: 100%;
  padding-top: 102px;

  @media (orientation: landscape) {
    padding-top: initial;
    padding-left: 108px;
  }
  
  .ag-overlay-loading-center {
    display: none;
  }
}

