@color-primary: lightgrey;
@color-secondary: white;

@color-player-one: #6acac8;
@color-player-two: #6a81ca;
@color-player-three: #ca6ab8;
@color-player-four: #9a6aca;
@color-player-five: #97adc2;
@color-player-six: #ca936a;

@color-player-active: #b3b3b3;
@color-menu-highlight: #4d4d4d;

// @highlight-width: 115px;
@highlight-width: 5em;
@menu-font-size: 1.3em;

@board-width: 140vw;
@board-height-landscape: 120vh;
