#amble {
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#board {
  background-color: #d3d3d3;
}
@media (orientation: portrait) {
  #board {
    min-width: 140vw;
    width: 140vw;
    height: auto;
  }
}
@media (orientation: landscape) {
  #board {
    width: auto;
    height: 120vh;
    min-height: 120vh;
  }
}
#board.player-one-sixoclock {
  transform: rotate(0deg);
}
#board.player-two-sixoclock {
  transform: rotate(-60deg);
}
#board.player-three-sixoclock {
  transform: rotate(-120deg);
}
#board.player-four-sixoclock {
  transform: rotate(-180deg);
}
#board.player-five-sixoclock {
  transform: rotate(-240deg);
}
#board.player-six-sixoclock {
  transform: rotate(-300deg);
}
#board circle.board-piece {
  fill: #ffffff;
}
#board {
  background-color: #d3d3d3;
}
#board circle.player-one {
  fill: #6acac8;
}
#board circle.player-two {
  fill: #6a81ca;
}
#board circle.player-three {
  fill: #ca6ab8;
}
#board circle.player-four {
  fill: #9a6aca;
}
#board circle.player-five {
  fill: #97adc2;
}
#board circle.player-six {
  fill: #ca936a;
}
#board circle.active {
  fill: #f1f1f1;
}
#app,
#root,
#content-outlet {
  height: 100%;
}
.settings-pane {
  display: flex;
  height: 100%;
}
.settings-pane form {
  align-self: flex-end;
  width: 100vw;
  height: 66.66666667vh;
}
@media (orientation: landscape) {
  .settings-pane form {
    width: 80vw;
  }
}
.settings-pane .settings-content {
  border: none;
}
.settings-pane .settings-footer {
  display: none;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  position: relative;
}
.bm-item-list a {
  display: block;
  border-radius: 8px;
  padding: 8px;
  font-size: larger;
  margin: 8px;
}
.bm-item-list a {
  color: initial;
  text-decoration: none;
}
.bm-item-list a.active {
  background: #ffffff;
}
.bm-item-list a:hover {
  background: #ffffff;
}
.bm-menu {
  background: #f8f8f8;
}
#grid-container {
  height: 100%;
  padding-top: 102px;
}
@media (orientation: landscape) {
  #grid-container {
    padding-top: initial;
    padding-left: 108px;
  }
}
