.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}


#amble {
  background-color: black;
  height: 100vh;
  width: auto;
  display: flex;

}

#amble svg#board {
  flex: auto;
}

#amble svg#board circle {
  fill: blue;
}
