.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

body {
  background: white;
}

#app {
  /* display: flex; */
  /* width: 100vw; */
  /* height: 100vh; */
  /* justify-content: center; */
  /* align-items: center; */
}
#badnews {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#amble {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  /* height: 100%; */
  width: 100vw;
  height: 100vh;
 
}

#amble svg#board {
  width: auto;
  height: 100vh;
 
  background-color: black;
}

#amble svg#board circle.player-one {
  fill: lime;
}

#amble svg#board circle.player-two {
  fill: #ffaa01;
}

#amble svg#board circle.player-three {
    fill: #ff00aa;
}

#amble svg#board circle.player-four {
    fill: #ab00ff;
}

#amble svg#board circle.player-five {
    fill: white;
}

#amble svg#board circle.player-six {
    fill: #00aaff;
}

#amble svg#board circle.designatee {
    fill: #1f1f1f;
}
