#board {
  width: 61.80469716vw;
  height: 61.80469716vw;
}
.board-piece {
  fill: white;
}
.board-piece.active {
  fill: #f1f1f1;
}
.player-one {
  fill: #6acac8;
}
.player-two {
  fill: #6a81ca;
}
.player-three {
  fill: #ca6ab8;
}
.player-four {
  fill: #9a6aca;
}
.player-five {
  fill: #97adc2;
}
.player-six {
  fill: #ca936a;
}
.player {
  transition: fill 2s 500ms;
}
.player.landing {
  fill: green;
}
html,
body {
  margin: 0;
}
#amble {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
