.body-container {
}

body {
  background: white;
}

#amble {
  /* background-color: white; */
  background-color: lightgrey;
}

#amble svg#board {
  /* background-color: #666666ff; */
  background-color: lightgrey;
}

#amble svg#board circle.player-one {
  fill: #6acac8ff;
}

#amble svg#board circle.player-two {
  fill: #6a81caff;
}

#amble svg#board circle.player-three {
    fill: #ca6ab8ff;
}

#amble svg#board circle.player-four {
    fill: #9a6acaff;
}

#amble svg#board circle.player-five {
    fill: #97adc2ff;
}

#amble svg#board circle.player-six {
    fill: #ca936aff;
}

#amble svg#board circle.designatee {
    fill: white;
    opacity: 100%;
    stroke-width: 0;
}
