.noty_body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}


.noty_layout {
    --animate-duration: 500ms;
}


.noty_theme__mint.noty_bar .noty_body {
    font-size: 20px;
}

#noty_layout__topRight {
    width: auto;
}